{% extends 'templatesBoxApp/base.html' %}

{% block contenido %}
<!-- BLOCK -->

    <div class="container">
        <div class="row mt-5">

        </div>
    </div>

    <!-- Sobre Nosotros Section -->
    <div class="container">
        <h2 class="text-center mb-4">Sobre Nosotros</h2>

        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Nuestro Objetivo</h3>
                        <p>Nuestro objetivo es proporcionar soluciones de excelencia y alta calidad. Ofrecemos una amplia variedad de menús, y servicios tales como almuerzos, cenas y recepciones o eventos corporativos, adaptados a las necesidades específicas de grandes, medianas y pequeñas empresas.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Nuestra Propuesta de Valor</h3>
                        <p>Más atributos del por qué elegirnos:</p>
                        <ul>
                            <li>Los menús no se repiten en un mes</li>
                            <li>Alimentos Inocuos</li>
                            <li>Precios Competitivos</li>
                            <li>Compromiso con los tiempos establecidos</li>
                            <li>El mejor servicio de Post Venta</li>
                            <li>Rotulados Personalizados</li>
                            <li>Compromiso Medio Ambiental</li>
                            <li>Alternativas vegetarianas, veganas e hipocalóricas</li>
                            <li>Generar soluciones para facilitar la vida de los clientes</li>
                        </ul>
                        <p>Descarga nuestro book corporativo</p>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Sustentabilidad</h3>
                        <p>Estamos comprometidos con el medio ambiente</p>
                        <div class="row">
                            <div class="col-md-3">
                                <h5>REDUCIR CONSUMO DE PLÁSTICOS</h5>
                                <p>Evitando su uso, entregamos a nuestros clientes una alternativa que responde a sus necesidades mediante el uso de contenedores de vidrio.</p>
                            </div>
                            <div class="col-md-3">
                                <h5>RECICLAJE</h5>
                                <p>Reutilizamos las hojas de papel provenientes de las operaciones entregándoles una segunda vida en otras áreas dentro de la misma.</p>
                            </div>
                            <div class="col-md-3">
                                <h5>ECONOMÍA CIRCULAR</h5>
                                <p>GM Express en conjunto con BioMetil, se encarga de darle una segunda vida a los aceites vegetales provenientes de las operaciones.</p>
                            </div>
                            <div class="col-md-3">
                                <h5>EFICIENCIA</h5>
                                <p>Mediante la mejora continua trabajamos en la eficiencia de las operaciones para reducir nuestro impacto ambiental.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
